.gradient-custom {
    /* fallback for old browsers */
    background: #a6d7ff;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(126, 255, 216), rgb(163, 197, 255));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(204, 159, 255), rgba(37, 117, 252, 1))
  }
