<div class="text-center">
  <h3>List of Consumers</h3>
</div>
<hr>
<div class="row">
  <!-- <h3 class="col-5 offset-2">List of Consumers</h3> -->
  <div class="col-5 offset-9">
      <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" (click)="addClick();">Add Consumer</button>
      <!-- <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" (click)="editClick()">Edit Consumer</button>  -->
      <!-- <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" (click)="deleteClick()">Delete Consumer</button>  -->
  </div>
  <br>
</div>
<div class="row justify-content-center">
<div class="col-8">

<table class="table">
  <thead class="thead-dark">
    <tr class="table-active table-dark">
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Email</th>
      <th>Pan Number</th>
      <th>Agent Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ConsumerList">
      <td>{{data.name}}</td>
      <td>{{data.dob | date:'yyyy-MM-dd'}}</td>
      <td>{{data.email}}</td>
      <td>{{data.panNumber}}</td>
      <td>{{data.agentName}}</td>
      <!-- <a [routerLink]="['/updateConsumer/']" ></a> -->
      <td><button type="button" class="btn btn-outline-success text-center" (click)="editClick(data)">Edit</button></td>
      <td><button type="button" class="btn btn-outline-danger text-center" (click)="deleteConsumer(data.consumerId)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>