<div class="text-center">
  <h3>List of Consumers</h3>
</div>
<hr>
<div class="row">
  <!-- <h3 class="col-5 offset-2">List of Consumers</h3> -->
  <div class="form-group col-md-7 offset-sm-2">
    <input type="text" class="form-control" name="name" [(ngModel)]="consumerName" 
    (ngModelChange)="searchConsumer()" 
    placeholder="Enter Consumer Name to search consumers">
  </div>
  <div class="col"> <!-- offset-9 -->
      <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#exampleModal" (click)="addClick();">Add Consumer</button>
      <!-- <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" (click)="editClick()">Edit Consumer</button>  -->
      <!-- <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" (click)="deleteClick()">Delete Consumer</button>  -->
  </div>
  <br>
  <br>
</div>
<div class="row justify-content-center">
<div class="col-8">

<table class="table">
  <thead class="thead-dark">
    <tr class="table-active text-center table-dark">
      <th>Consumer Name</th>
      <th>Date Of Birth</th>
      <th>Email</th>
      <th>Pan Number</th>
      <!-- <th>Agent Name</th> -->
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ConsumerList 
    | paginate: {itemsPerPage: 7, currentPage: consumerPgNo}; " class="text-center">
      <td>{{data.consumerName}}</td>
      <td>{{data.dateOfBirth | date:'dd-MM-yyyy'}}</td>
      <td>{{data.email}}</td>
      <td>{{data.panNumber}}</td>
      <!-- <td>{{data.agentName}}</td> -->
      <!-- <a [routerLink]="['/updateConsumer/']" ></a> -->
      <td><button type="button" class="btn btn-outline-success text-center" (click)="editClick(data)">Edit</button></td>
      <td><button type="button" class="btn btn-outline-danger text-center" class="btn btn-outline-danger" data-bs-toggle="modal" 
        data-bs-target="#exampleModal" (click)="deleteConsumerId = data.consumerId">Delete</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" 
                aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h5  class="modal-title" id="exampleModalLabel">Delete Consumer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure ?
            </div>
            <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button  type="button" class="btn btn-primary" (click)="deleteConsumer(deleteConsumerId)" > Delete </button>
        </div>
      </div>
      </div>
    </div>
    </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="consumerPgNo = $event"></pagination-controls>
</div>
</div>
<!-- class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" -->
