<div class="text-center">
    <h3>Create Policy</h3>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #policyform="ngForm" (ngSubmit)="policyform.form.valid && 
            createPolicy(propertyid.value,policyform)">
                <div class="form-group">
                    <label for="propertyid"> Enter Property ID:</label>
                    <input class="form-control" type="number" [(ngModel)]="createPolicyForm.propertyid" 
                    placeholder="Property ID" id="propertyid" name="propertyid" #propertyid="ngModel"
                    [ngClass]="{ 'is-invalid': policyform.submitted && propertyid.invalid }" required/>
                </div>
                &nbsp;
                <div class="form-group">
                    <button class="btn btn-md btn-success" type="submit" [disabled]="policyform.invalid">
                        Create Policy
                    </button>
                    &nbsp;
                    <button class="btn btn-md btn-danger" type="reset">
                        Reset
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Policy Status : </h3> 
            <div class="alert alert-success" *ngIf="checkPolicyStatus(policyStatus); else policy_not_created" 
            #policy_created>
                <h3>
                    {{ policyStatus }}
                </h3>
            </div>
            <ng-template #policy_not_created>
                <div class="alert alert-danger">
                    <h3>
                        {{ policyStatus }}
                    </h3>
                </div>
            </ng-template>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <nav class="navbar">
            <input type="text" class="form-control col-sm-8" name="consumerName" [(ngModel)]="consumerName" 
            (ngModelChange)="searchPolicyProperty()" 
            placeholder="Enter Consumer Name to search policies and properties">
        </nav>
        <h3>Policies</h3>
        <table class="table">
            <thead>
                <tr class="table-active text-center table-dark">
                    <th scope="col" (click)="sort('policyId')">
                        Policy ID <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('buildingType')">
                        Building Type <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('policyStatus')">
                        Policy Status <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('propertyId')">
                        Property ID <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('propertyType')">
                        Property Type <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('propertyValue')">
                        Property Value <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('businessValue')">
                        Business Value <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('quoteValue')">
                        Quote Value <i class="fa fa-sort"></i> 
                    </th>
                    <!-- <th scope="col" (click)="sort('consumerId')">
                        Consumer ID <i class="fa fa-sort"></i>  
                    </th>-->
                    <th scope="col" (click)="sort('consumerName')">
                        Consumer Name <i class="fa fa-sort"></i> 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center table-secondary" 
                *ngFor="let policy of policies | orderBy: key: reverse
                paginate: {itemsPerPage: 5, currentPage: policyPgNo}; ">
                    <td>{{ policy.policyId }}</td>
                    <td>{{ policy.buildingType }}</td>
                    <td>{{ policy.policyStatus }}</td>
                    <td>{{ policy.propertyId }}</td>
                    <td>{{ policy.propertyType }}</td>
                    <td>{{ policy.propertyValue }}</td>
                    <td>{{ policy.businessValue }}</td>
                    <td>{{ policy.quoteValue }}</td>
                    <!-- <td>{{ policy.consumerId }}</td> -->
                    <td>{{ policy.consumerName }}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="policyPgNo = $event"></pagination-controls>
    </div>

    <div class="row">
        <h3>Properties</h3>
        <table class="table">
            <thead>
                <tr class="table-active text-center table-dark">
                    <th scope="col" (click)="sort('propertyId')">
                        Property Id <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('buildingType')">
                        Building Type <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('buildingAge')">
                        Building Age <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('buildingStoreys')">
                        Building Storeys <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('propertyValue')">
                        Property Value <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('businessId')">
                        Business Id <i class="fa fa-sort"></i> 
                    </th>
                    <th scope="col" (click)="sort('businessValue')">
                        Business Value <i class="fa fa-sort"></i> 
                    </th>
                    <!-- <th scope="col" (click)="sort('consumerId')">
                        Consumer Id <i class="fa fa-sort"></i>  
                    </th>-->
                    <th scope="col" (click)="sort('consumerName')">
                        Consumer Name <i class="fa fa-sort"></i> 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center table-secondary" 
                *ngFor="let property of properties | orderBy: key: reverse
                paginate: {itemsPerPage: 5, currentPage: propertyPgNo}; ">
                    <td>{{ property.propertyId }}</td>
                    <td>{{ property.buildingType }}</td>
                    <td>{{ property.buildingAge }}</td>
                    <td>{{ property.buildingStoreys }}</td>
                    <td>{{ property.propertyValue }}</td>
                    <td>{{ property.businessId }}</td>
                    <td>{{ property.businessValue }}</td>
                    <!-- <td>{{ property.consumerId }}</td> -->
                    <td>{{ property.consumerName }}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="propertyPgNo = $event"></pagination-controls>
    </div>

</div>