h2 {
    /* font-size:40px; */
    /* color:#009900; */
    color:white;
    font-weight:bold;
    text-align: center;
}
h3 {
    font-size:30px;
    color:#1c0099;
    font-weight:bold;
    text-align: center;
}
body {
    margin: 0 auto;
    background-position:center;
    background-size: contain;
    background-color: gray;
}

.menu {  
    position: sticky;
    top: 0;
    background-color: #769b10;
    padding:10px 0px 10px 0px;
    color:white;
    margin: 0 auto;
    overflow: hidden;
}
.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.menu-log {
    right: auto;
    float: right;

}
.body_sec {
    margin-left:20px;
}
