<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Policy Adminstration Service</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome Agent</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <br>
          <li class="nav-item">
            <button routerLink="consumer" class="m-1 btn btn-light btn-outline-secondary" Button>Add Consumer</button>
          </li>
          <br>
          <li class="nav-item">
            <button routerLink="consumerBusiness" class="m-1 btn btn-light btn-outline-secondary" Button>Add Business</button>
          </li>
          <br>
          <li class="nav-item">
            <button routerLink="businessProperty" class="m-1 btn btn-light btn-outline-secondary" Button>Add Property</button>
          </li>
          <br>
          <li class="nav-item">
            <button routerLink="createPolicy" class="m-1 btn btn-light btn-outline-secondary" Button>Create Policy</button>
          </li>
          <br>
          <li class="nav-item">
            <button routerLink="issuePolicy" class="m-1 btn btn-light btn-outline-secondary" Button>Issue Policy</button>
          </li>
          <br>
          <li class="nav-item">
            <button routerLink="viewPolicy" class="m-1 btn btn-light btn-outline-secondary" Button>View Policy</button>
          </li>
          <br>
          <li class="nav-item">
            <button routerLink="getQuote" class="m-1 btn btn-light btn-outline-secondary" Button>Get Quote</button>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</nav>
<hr>
<div class="column">
  <app-home-page> </app-home-page>
  <router-outlet> </router-outlet>
</div>
