
    <!-- Header Area wrapper Starts -->
    <div class="navigation fixed top-0 left-0 w-full z-30 duration-300">
      <div class="container-fluid">
        <nav
          class="
            navbar
            navbar-expand-lg
            flex
            justify-between
            items-center
            relative
            duration-300
          "
        >
          <a class="navbar-brand" href="index.html">
            <img src="assets/img/Insureity_Portal-removebg-preview.png" width="350px" alt="Logo" />
          </a>

          <div class="container-fluid rounded navbar col-8">
            <ul *ngIf="isUserAuthenticated()"  class="navbar-nav justify-content-between w-full 
            items-center  lg:flex">
              <!--flex-grow-1 pe-3"-->
                <br>
                <li class="nav-item">
                  <button routerLink="consumer" class="nav-link">Consumer</button>
                </li>
                <br>
                <li class="nav-item">
                  <button routerLink="consumerBusiness" class="nav-link active" aria-current="page">Business</button>
                </li>
                <br>
                <li class="nav-item">
                  <button routerLink="businessProperty" class="nav-link active" aria-current="page">Property</button>
                </li>
                <br>
                <li class="nav-item">
                  <button routerLink="createPolicy" class="nav-link active" aria-current="page">Create Policy</button>
                </li>
                <br>
                <li class="nav-item">
                  <button routerLink="issuePolicy" class="nav-link active" aria-current="page">Issue Policy</button>
                </li>
                <br>
                <li class="nav-item">
                  <button routerLink="viewPolicy" class="nav-link active" aria-current="page">View Policy</button>
                </li>
                <br>
                <li class="nav-item">
                  <button routerLink="getQuote" class="nav-link active" aria-current="page">Get Quote</button>
                </li>
                <br>
              </ul>
          </div>
          <div class="navbar">
            <h2 *ngIf="isUserAuthenticated()" class="nav-item active col-md-10">{{agentName}}</h2>
            <br>
              <button 
                  *ngIf="isUserAuthenticated()" class="nav-item" (click)="logOut()" 
                  class="logout m-1 btn btn-debug btn-outline-primary" >LogOut</button> 
          </div>
         
        </nav>
        
      </div>
    </div>
<br><br><br><br>
<br><br>
<hr>
<router-outlet> </router-outlet>


    
