

<div class="col-9 row mt-5" *ngIf="router.url === '/addProperty/PropertyId/0'">
    <div class="col-4 offset-6">
        <form #propertyForm="ngForm" (ngSubmit)="addProperty(propertyForm.value)">
            <button type="button" routerLink ='/businessProperty'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
                <i class="bi-chevron-double-left">
            </i></button>
            <h3 class="input-group mb-3">Add Property Details</h3>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Building Type</span>
                <input type="text" #buildingType="ngModel"  name="buildingType" class="form-control" 
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                [(ngModel)]="propertyModel.buildingType" [ngClass]="{ 'is-invalid': propertyForm.submitted && buildingType.invalid }" required>
                <div class="invalid-feedback" *ngIf="propertyForm.submitted && buildingType.invalid">
                    <p class="offset-8" *ngIf="buildingType.errors?.required">Building type is required</p>
                </div>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Building Storeys</span>
                <input type="number" #buildingStoreys ="ngModel" name="buildingStoreys" class="form-control"
                 aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                 [(ngModel)]="propertyModel.buildingStoreys" [ngClass]="{ 'is-invalid': propertyForm.submitted && buildingStoreys.invalid }" required>
                 <div class="invalid-feedback" *ngIf="propertyForm.submitted && buildingStoreys.invalid">
                    <p class="offset-8" *ngIf="buildingStoreys.errors?.required">Building Storeys is required</p>
                 </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Building Age</span>
                <input type="number" #buildingAge ="ngModel" name="buildingAge" class="form-control" 
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                [(ngModel)]="propertyModel.buildingAge" [ngClass]="{ 'is-invalid': propertyForm.submitted && buildingAge.invalid }" required>
                <div class="invalid-feedback" *ngIf="propertyForm.submitted && buildingAge.invalid">
                    <p class="offset-8" *ngIf="buildingAge.errors?.required">Building Age is required</p>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Business Id</span>
                <input type="number" #businessId ="ngModel" name="businessId" class="form-control" 
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                [(ngModel)]="propertyModel.businessId" [ngClass]="{ 'is-invalid': propertyForm.submitted && businessId.invalid }" required>
                <div class="invalid-feedback" *ngIf="propertyForm.submitted && businessId.invalid">
                    <p class="offset-8" *ngIf="businessId.errors?.required">Building Id is required</p>
                </div>
                <button type="button" class="input-group-text" id="inputGroup-sizing-default" 
                data-bs-toggle="modal" data-bs-target="#myModal">R</button>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Business Id Reference</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Business Id</th>
                                    <th scope="col">Busienss Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let data of businessList">
                                        <td scope="row">{{data.businessId}}</td>
                                        <td scope="row">{{data.businessName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Property Master Id</span>
                <input type="number" #propertyMasterId ="ngModel" name="propertyMasterId" class="form-control" 
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                [(ngModel)]="propertyModel.propertyMasterId" [ngClass]="{ 'is-invalid': propertyForm.submitted && propertyMasterId.invalid }" required>
                <div class="invalid-feedback" *ngIf="propertyForm.submitted && propertyMasterId.invalid">
                    <p class="offset-8" *ngIf="propertyMasterId.errors?.required">Property Id is required</p>
                </div>
                <button type="button" class="input-group-text" id="inputGroup-sizing-default" 
                data-bs-toggle="modal" data-bs-target="#myModal1">R</button>

                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Property Master Id Reference</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Assest Cost</th>
                                    <th scope="col">Salvage Value</th>
                                    <th scope="col">Assest Age</th>
                                    <th scope="col">Property Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let data of propertyMasterList">
                                        <td scope="row">{{data.propertyMasterId}}</td>
                                        <td scope="row">{{data.costOfAssest}}</td>
                                        <td scope="row">{{data.salvageValue}}</td>
                                        <td scope="row">{{data.usefulLifeOfAssest}}</td>
                                        <td scope="row">{{data.propertyValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            
            <br>
            <input type="submit" class="btn btn-outline-danger" value="Create">
            <input type="reset" class="btn btn-outline-dark" style="float: right;" value="Reset">
            
        </form>
        <div class="alert alert-info mt-2" *ngIf="create_message">{{create_message}}</div>
        <br>
        <div class="alert alert-danger mt-2" *ngIf ="errorMessage">{{errorMessage}}</div>
    </div>
    </div>






    <div class="col-11 row mt-5" *ngIf="router.url === '/updateProperty/'">
    <!-- <div class="col-11 row mt-5" *ngIf="router.navigate(['/updateProperty/'],updatedData.propertyId)">  -->
        <div class="col-3 offset-5">
            <form #propertyForm="ngForm" (ngSubmit)="updateProperty(propertyForm.value)">
                <h3 class="input-group mb-3">Update Property Details</h3>
                <!-- {{updatedData.property.propertyId}} -->
                <!--  -->
                <div class="input-group mb-3">
                    <input type="number" #propertyId="ngModel"  name="propertyId" class="form-control" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                    [(ngModel)]="updatedData.property.propertyId" [ngClass]="{ 'is-invalid': propertyForm.submitted && propertyId.invalid }" required
                    hidden>
                </div>
                <!--  -->

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Building Type</span>
                    <input type="text" #buildingType="ngModel"  name="buildingType" class="form-control" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                    [(ngModel)]="updatedData.property.buildingType" [ngClass]="{ 'is-invalid': propertyForm.submitted && buildingType.invalid }" required>
                    <div class="invalid-feedback" *ngIf="propertyForm.submitted && buildingType.invalid">
                        <p class="offset-8" *ngIf="buildingType.errors?.required">Building type is required</p>
                    </div>
                </div>
                <!-- {{updatedData.property.buildingStoreys}}
                buildingStoreys : <input type="number" id="buildingStoreys" name="buildingStoreys"
                [(ngModel)] ="updatedData.buildingStoreys"> -->
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Building Storeys</span>
                    <input type="number" #buildingStoreys ="ngModel" name="buildingStoreys" class="form-control"
                     aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                     [(ngModel)]="updatedData.property.buildingStoreys" [ngClass]="{ 'is-invalid': propertyForm.submitted && buildingStoreys.invalid }" required>
                     <div class="invalid-feedback" *ngIf="propertyForm.submitted && buildingStoreys.invalid">
                        <p class="offset-8" *ngIf="buildingStoreys.errors?.required">Building Storeys is required</p>
                     </div>
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Building Age</span>
                    <input type="number" #buildingAge ="ngModel" name="buildingAge" class="form-control" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                    [(ngModel)]="updatedData.property.buildingAge" [ngClass]="{ 'is-invalid': propertyForm.submitted && buildingAge.invalid }" required>
                    <div class="invalid-feedback" *ngIf="propertyForm.submitted && buildingAge.invalid">
                        <p class="offset-8" *ngIf="buildingAge.errors?.required">Building Age is required</p>
                    </div>
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Business Id</span>
                    <input type="number" #businessId ="ngModel" name="businessId" class="form-control" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                    [(ngModel)]="updatedData.property.businessId" [ngClass]="{ 'is-invalid': propertyForm.submitted && businessId.invalid }" required>
                    <div class="invalid-feedback" *ngIf="propertyForm.submitted && businessId.invalid">
                        <p class="offset-8" *ngIf="businessId.errors?.required">Building Id is required</p>
                    </div>
                    <button type="button" class="input-group-text" id="inputGroup-sizing-default" 
                data-bs-toggle="modal" data-bs-target="#myModal">R</button>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Business Id Reference</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Business Id</th>
                                    <th scope="col">Busienss Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let data of businessList">
                                        <td scope="row">{{data.businessId}}</td>
                                        <td scope="row">{{data.businessName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Property Master Id</span>
                    <input type="number" #propertyMasterId ="ngModel" name="propertyMasterId" class="form-control" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" 
                    [(ngModel)]="updatedData.property.propertyMasterId" [ngClass]="{ 'is-invalid': propertyForm.submitted && propertyMasterId.invalid }" required>
                    <div class="invalid-feedback" *ngIf="propertyForm.submitted && propertyMasterId.invalid">
                        <p class="offset-8" *ngIf="propertyMasterId.errors?.required">Property Id is required</p>
                    </div>
                    <button type="button" class="input-group-text" id="inputGroup-sizing-default" 
                    data-bs-toggle="modal" data-bs-target="#myModal">R</button>
                </div>
                
                <!-- Modal Content -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Property Master Id Reference</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Property Value</th>
                                    <th scope="col">Salvage Value</th>
                                    <th scope="col">Assest Cost</th>
                                    <th scope="col">Assest Age</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let data of propertyMasterList">
                                        <td scope="row">{{data.propertyMasterId}}</td>
                                        <td scope="row">{{data.costOfAssest}}</td>
                                        <td scope="row">{{data.salvageValue}}</td>
                                        <td scope="row">{{data.usefulLifeOfAssest}}</td>
                                        <td scope="row">{{data.propertyValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-outline-danger" value="Update">
                <input type="reset" class="btn btn-outline-dark" style="float: right;" value="Reset">
            </form>
            <div class="alert alert-success" *ngIf="update_message">{{update_message}}</div>
            <div class="alert alert-danger mt-2" *ngIf ="errorMessage">{{errorMessage}}</div>
        </div>
        </div>
        <!-- {{updatedData | json }} -->