<div class="text-center">
    <h3>Issue Policy</h3>
</div>
<hr>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form #issuepolicyform="ngForm" (ngSubmit)="issuepolicyform.form.valid && 
                issuePolicy(policyid.value, paymentdetail.value)">
                        <div class="form-group">
                            <label for="policyid"> Enter Policy ID:</label>
                            <input class="form-control form-control-sm" type="number" [(ngModel)]="issueform.policyid" 
                            placeholder="Enter Policy ID here" name="policyid" id="policyid" #policyid="ngModel"
                            [ngClass]="{ 'is-invalid': issuepolicyform.submitted && policyid.invalid }" required />
                            <div class="invalid-feedback" *ngIf="issuepolicyform.submitted && policyid.invalid">
                                <p *ngIf="policyid.errors?.required">Policy ID is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paymentdetail"> Payment Details :</label>   
                            <input class="form-control form-control-sm" type="text" [(ngModel)]="issueform.paymentdetail"
                            placeholder="Enter Payment Details here" id="paymentdetail" name="paymentdetail" #paymentdetail="ngModel"
                            [ngClass]="{ 'is-invalid': issuepolicyform.submitted && paymentdetail.invalid }" required/>
                            <div class="invalid-feedback" *ngIf="issuepolicyform.submitted && paymentdetail.invalid">
                                <p *ngIf="paymentdetail.errors?.required">Payment Detail is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-success" type="submit" [disabled]="issuepolicyform.form.invalid">
                                Issue Policy
                            </button>
                            &nbsp;
                            <button class="btn btn-md btn-danger" type="reset">
                                Reset
                            </button>
                        </div>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Policy Status : </h3> 
                <div class="alert alert-success" *ngIf="policyStatus=='Policy has been Issued for Policy ID ' + policyid.value;
                else policy_not_created" #policy_created>
                    {{ policyStatus }}
                </div>
                <ng-template #policy_not_created>
                    <div class="alert alert-danger">
                        {{ policyStatus }}
                    </div>
                </ng-template>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>List of Policies</h3>
            <table class="table">
                <thead>
                    <tr class="table-active text-center table-dark">
                        <th scope="col">Policy ID</th>
                        <th scope="col">Building Type</th>
                        <th scope="col">Policy Status</th>
                        <th scope="col">Property ID</th>
                        <th scope="col">Property Type</th>
                        <th scope="col">Property Value</th>
                        <th scope="col">Business Value</th>
                        <th scope="col">Quote Value</th>
                        <th scope="col">Consumer ID</th>
                        <th scope="col">Consumer Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center table-secondary" *ngFor="let policy of policies">
                        <td>{{ policy.policyId }}</td>
                        <td>{{ policy.buildingType }}</td>
                        <td>{{ policy.policyStatus }}</td>
                        <td>{{ policy.propertyId }}</td>
                        <td>{{ policy.propertyType }}</td>
                        <td>{{ policy.propertyValue }}</td>
                        <td>{{ policy.businessValue }}</td>
                        <td>{{ policy.quoteValue }}</td>
                        <td>{{ policy.consumerId }}</td>
                        <td>{{ policy.consumerName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>